In [1]:
import pandas as pd

In [2]:
#Import demographics dataset
file_path = "C:/Users/adrianahe/capstoneproject-2022/demographics.csv"
demo_df = pd.read_csv(file_path)
demo_df.head()

,id. Response ID,Year[Month Year...ate submitted]],Carmain,Previous Plug in HEVs,Previous BatteryEVs,Previous HybridEVs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Highest Level of Education,...,Gender (Male 1),Number of vehicles in the household,Annual Vehicle MilesTraveled Estimate,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,FCV_1_3,2017.0,2016 Toyota Mirai,1.0,0.0,0.0,275000.0,2.52,1.0,3.0,...,0.0,2,14622.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FCV_1_4,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,275000.0,2.76,1.0,4.0,...,0.0,3,9197.142857,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FCV_1_2,2017.0,2016 Toyota Mirai,1.0,1.0,0.0,NaN,NaN,1.0,4.0,...,1.0,4,15360.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FCV_1_15,2017.0,2017 Toyota Mirai,1.0,0.0,0.0,125000.0,2.60,1.0,2.0,...,0.0,3,5082.352941,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FCV_1_8,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,175000.0,1.23,1.0,4.0,...,0.0,2,13025.454550,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Drop null rows
demo_df = demo_df.dropna()
demo_df

Empty DataFrame
Columns: [id. Response ID, Year[Month Year...ate submitted]], Carmain, Previous Plug in HEVs, Previous BatteryEVs, Previous HybridEVs, Household Income, Importance of reducing greenhouse gas emissions (-3 not important, 3 important), Home ownership (own 1), Highest Level of Education, One-way commute distance, Number of people in the household, Age, Gender (Male 1), Number of vehicles in the household, Annual Vehicle MilesTraveled Estimate , Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22]
Index: []

[0 rows x 23 columns]