In [1]:
import pandas as pd

In [2]:
#Import demographics dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Data/demographics.csv"
demo_df = pd.read_csv(file_path)
demo_df.head()

,id. Response ID,Year[Month Year...ate submitted]],Carmain,Previous Plug in HEVs,Previous BatteryEVs,Previous HybridEVs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Highest Level of Education,...,Gender (Male 1),Number of vehicles in the household,Annual Vehicle MilesTraveled Estimate,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,FCV_1_3,2017.0,2016 Toyota Mirai,1.0,0.0,0.0,275000.0,2.52,1.0,3.0,...,0.0,2,14622.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FCV_1_4,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,275000.0,2.76,1.0,4.0,...,0.0,3,9197.142857,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FCV_1_2,2017.0,2016 Toyota Mirai,1.0,1.0,0.0,NaN,NaN,1.0,4.0,...,1.0,4,15360.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FCV_1_15,2017.0,2017 Toyota Mirai,1.0,0.0,0.0,125000.0,2.60,1.0,2.0,...,0.0,3,5082.352941,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FCV_1_8,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,175000.0,1.23,1.0,4.0,...,0.0,2,13025.454550,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop unnecessary columns
demo_df = demo_df.drop(labels=["id. Response ID", "Unnamed: 16", "Unnamed: 17",
                               "Unnamed: 18", "Unnamed: 19", "Unnamed: 20", "Unnamed: 21", "Unnamed: 22"], axis=1)
demo_df.head()

,Year[Month Year...ate submitted]],Carmain,Previous Plug in HEVs,Previous BatteryEVs,Previous HybridEVs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Highest Level of Education,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual Vehicle MilesTraveled Estimate
0,2017.0,2016 Toyota Mirai,1.0,0.0,0.0,275000.0,2.52,1.0,3.0,0.01,2.0,65.0,0.0,2,14622.000000
1,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,275000.0,2.76,1.0,4.0,10.69,3.0,65.0,0.0,3,9197.142857
2,2017.0,2016 Toyota Mirai,1.0,1.0,0.0,NaN,NaN,1.0,4.0,9.39,5.0,55.0,1.0,4,15360.000000
3,2017.0,2017 Toyota Mirai,1.0,0.0,0.0,125000.0,2.60,1.0,2.0,17.63,2.0,55.0,0.0,3,5082.352941
4,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,175000.0,1.23,1.0,4.0,3.53,2.0,75.0,0.0,2,13025.454550

In [4]:
# Drop NaNs
demo_df = demo_df.dropna()
demo_df.head()

,Year[Month Year...ate submitted]],Carmain,Previous Plug in HEVs,Previous BatteryEVs,Previous HybridEVs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Highest Level of Education,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual Vehicle MilesTraveled Estimate
0,2017.0,2016 Toyota Mirai,1.0,0.0,0.0,275000.0,2.52,1.0,3.0,0.01,2.0,65.0,0.0,2,14622.000000
1,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,275000.0,2.76,1.0,4.0,10.69,3.0,65.0,0.0,3,9197.142857
3,2017.0,2017 Toyota Mirai,1.0,0.0,0.0,125000.0,2.60,1.0,2.0,17.63,2.0,55.0,0.0,3,5082.352941
4,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,175000.0,1.23,1.0,4.0,3.53,2.0,75.0,0.0,2,13025.454550
5,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,500000.0,1.08,1.0,2.0,28.05,3.0,45.0,0.0,3,18000.000000

In [5]:
# Concatenate Previous EV columns into one
cols_concat = ["Previous Plug in HEVs", "Previous BatteryEVs", "Previous HybridEVs"]

# Convert them to type str
demo_df[cols_concat] = demo_df[cols_concat].astype('str')

# Then concatenate them as follows
demo_df["previous_evs"] = demo_df[cols_concat].T.agg('_'.join)
demo_df.head()

,Year[Month Year...ate submitted]],Carmain,Previous Plug in HEVs,Previous BatteryEVs,Previous HybridEVs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Highest Level of Education,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual Vehicle MilesTraveled Estimate,previous_evs
0,2017.0,2016 Toyota Mirai,1.0,0.0,0.0,275000.0,2.52,1.0,3.0,0.01,2.0,65.0,0.0,2,14622.000000,1.0_0.0_0.0
1,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,275000.0,2.76,1.0,4.0,10.69,3.0,65.0,0.0,3,9197.142857,0.0_0.0_1.0
3,2017.0,2017 Toyota Mirai,1.0,0.0,0.0,125000.0,2.60,1.0,2.0,17.63,2.0,55.0,0.0,3,5082.352941,1.0_0.0_0.0
4,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,175000.0,1.23,1.0,4.0,3.53,2.0,75.0,0.0,2,13025.454550,0.0_0.0_1.0
5,2017.0,2016 Toyota Mirai,0.0,0.0,1.0,500000.0,1.08,1.0,2.0,28.05,3.0,45.0,0.0,3,18000.000000,0.0_0.0_1.0

In [6]:
# Drop old Previous EV columns and number of people
demo_df = demo_df.drop(labels=["Previous Plug in HEVs", "Previous BatteryEVs", "Previous HybridEVs", "Number of people in the household"], axis=1)
demo_df.head()

,Year[Month Year...ate submitted]],Carmain,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Highest Level of Education,One-way commute distance,Age,Gender (Male 1),Number of vehicles in the household,Annual Vehicle MilesTraveled Estimate,previous_evs
0,2017.0,2016 Toyota Mirai,275000.0,2.52,1.0,3.0,0.01,65.0,0.0,2,14622.000000,1.0_0.0_0.0
1,2017.0,2016 Toyota Mirai,275000.0,2.76,1.0,4.0,10.69,65.0,0.0,3,9197.142857,0.0_0.0_1.0
3,2017.0,2017 Toyota Mirai,125000.0,2.60,1.0,2.0,17.63,55.0,0.0,3,5082.352941,1.0_0.0_0.0
4,2017.0,2016 Toyota Mirai,175000.0,1.23,1.0,4.0,3.53,75.0,0.0,2,13025.454550,0.0_0.0_1.0
5,2017.0,2016 Toyota Mirai,500000.0,1.08,1.0,2.0,28.05,45.0,0.0,3,18000.000000,0.0_0.0_1.0

In [7]:
# Fix previous_evs values to 0 for no and 1 for yes
demo_df.loc[demo_df["previous_evs"] == "0.0_0.0_0.0", "previous_evs"] = "0"  
demo_df.loc[demo_df["previous_evs"] != "0.0_0.0_0.0", "previous_evs"] = "1"  
demo_df.head()

,Year[Month Year...ate submitted]],Carmain,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Highest Level of Education,One-way commute distance,Age,Gender (Male 1),Number of vehicles in the household,Annual Vehicle MilesTraveled Estimate,previous_evs
0,2017.0,2016 Toyota Mirai,275000.0,2.52,1.0,3.0,0.01,65.0,0.0,2,14622.000000,1
1,2017.0,2016 Toyota Mirai,275000.0,2.76,1.0,4.0,10.69,65.0,0.0,3,9197.142857,1
3,2017.0,2017 Toyota Mirai,125000.0,2.60,1.0,2.0,17.63,55.0,0.0,3,5082.352941,1
4,2017.0,2016 Toyota Mirai,175000.0,1.23,1.0,4.0,3.53,75.0,0.0,2,13025.454550,1
5,2017.0,2016 Toyota Mirai,500000.0,1.08,1.0,2.0,28.05,45.0,0.0,3,18000.000000,1

In [10]:
# Rename and re-order columns to match database table and types
demo_df.columns = ["year", "car_main", "household_income",
                   "importance_of_gge", "homeowner", "education",
                   "commute_distance", "age", "gender", "number_of_vehicles",
                   "annual_miles", "previous_evs"]

column_to_move = demo_df.pop("previous_evs")
demo_df.insert(2, "previous_evs", column_to_move)

demo_df = demo_df.astype({"year": "int", "previous_evs": "int", "household_income": "float",
                          "homeowner": "int", "education": "int", "age": "int", "gender": "int"})
demo_df.dtypes

year                    int32
car_main               object
previous_evs            int32
household_income      float64
importance_of_gge     float64
homeowner               int32
education               int32
commute_distance      float64
age                     int32
gender                  int32
number_of_vehicles    float64
annual_miles            int64
dtype: object

In [12]:
# Create sample dataframe and save as csv
demo_sample_df = demo_df.sample(frac=0.5)
demo_sample_df.to_csv("demo_db.csv", index=False)