In [10]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sqlalchemy import create_engine

In [11]:
#Import demographics dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Data/CA_county_incentives.csv"
incentives_df = pd.read_csv(file_path)
incentives_df.head()

,County,Incentive Type,EV Type,Max Amount,Requirements,Low Income,Customer,One-time Use,Program Name or Provider,Start Date,End Date
0,Alameda,Rebate,BEV,2000.0,Yes,No,Yes,Yes,Alameda Municipal Power,7/1/2021,1/1/3000
1,Alameda,Grant,Any,9500.0,Yes,Yes,Yes,Yes,Bay Area Air Quality Management District,3/1/2019,1/1/3000
2,Alameda,Grant,Any,5000.0,Yes,Yes,No,Yes,Clean Vehicle Assistance Program,6/1/2018,1/1/3000
3,Alameda,Toll discount,CAV,7.0,Yes,No,No,No,California Air Resources Board,1/1/2019,1/1/3000
4,Alameda,Rebate,EV Charger,800.0,Yes,No,Yes,Yes,Alameda Municipal Power,7/1/2018,1/1/3000

In [12]:
# Drop Provider column
incentives_df = incentives_df.drop(columns="Program Name or Provider", axis=1)  
incentives_df.head()

,County,Incentive Type,EV Type,Max Amount,Requirements,Low Income,Customer,One-time Use,Start Date,End Date
0,Alameda,Rebate,BEV,2000.0,Yes,No,Yes,Yes,7/1/2021,1/1/3000
1,Alameda,Grant,Any,9500.0,Yes,Yes,Yes,Yes,3/1/2019,1/1/3000
2,Alameda,Grant,Any,5000.0,Yes,Yes,No,Yes,6/1/2018,1/1/3000
3,Alameda,Toll discount,CAV,7.0,Yes,No,No,No,1/1/2019,1/1/3000
4,Alameda,Rebate,EV Charger,800.0,Yes,No,Yes,Yes,7/1/2018,1/1/3000

In [13]:
# Rename columns to match database table
incentives_df.columns = ["county", "incentive_type", "ev_type",
                   "max_amount", "requirements", "low_income",
                   "customer", "one_time", "start_date", "end_date"]

In [14]:
# Change requirements columns' values to binary, 0 for no and 1 for yes
incentives_df["requirements"] = incentives_df["requirements"].replace(["Yes", "No"],[1, 0])
incentives_df["low_income"] = incentives_df["low_income"].replace(["Yes", "No"],[1, 0])
incentives_df["customer"] = incentives_df["customer"].replace(["Yes", "No"],[1, 0])
incentives_df["one_time"] = incentives_df["one_time"].replace(["Yes", "No"],[1, 0])
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000.0,1,0,1,1,7/1/2021,1/1/3000
1,Alameda,Grant,Any,9500.0,1,1,1,1,3/1/2019,1/1/3000
2,Alameda,Grant,Any,5000.0,1,1,0,1,6/1/2018,1/1/3000
3,Alameda,Toll discount,CAV,7.0,1,0,0,0,1/1/2019,1/1/3000
4,Alameda,Rebate,EV Charger,800.0,1,0,1,1,7/1/2018,1/1/3000

In [15]:
# Change dtypes
incentives_df = incentives_df.astype({"max_amount": "int"})

incentives_df.dtypes

county            object
incentive_type    object
ev_type           object
max_amount         int32
requirements       int64
low_income         int64
customer           int64
one_time           int64
start_date        object
end_date          object
dtype: object

In [16]:
# Save as csv
incentives_df.to_csv("incentives_db.csv", index=False)

In [ ]:
# # Connect data to SQL table, replace to update data
# db_string = f"postgresql://postgres:Ud8zkiE%eS@database-1.cwi16qf0z3wk.ap-southeast-1.rds.amazonaws.com:5432/california_ev_analysis"
# engine = create_engine(db_string)
# incentives_df.to_sql(name="incentives", con=engine, if_exists="replace")

In [18]:
# Import df to SQL table, replace to update changes
import psycopg2

conn_string = "host='database-1.cwi16qf0z3wk.ap-southeast-1.rds.amazonaws.com' dbname='california_ev_analysis' user='postgres' password='Ud8zkiE%eS'"

conn = psycopg2.connect(conn_string)
incentives_df.to_sql(name="incentives", con=conn, if_exists="replace")
# table = pd.read_sql('SELECT COUNT(*) FROM incentives', conn)
# table

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^