In [1]:
import pandas as pd

In [2]:
#Import demographics dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Data/CA_pop_2015-2022.csv"
pop_df = pd.read_csv(file_path)
pop_df.head()

    County  Year Population  Percent Change Numeric Change
0  Alameda  2015  1,630,159            1.34         21,545
1  Alameda  2016  1,647,332            1.05         17,173
2  Alameda  2017  1,659,750            0.75         12,418
3  Alameda  2018  1,669,659            0.60          9,909
4  Alameda  2019  1,678,926            0.56          9,267

In [4]:
# Rename columns and commas for database table
pop_df.columns = ["county", "year", "population", "percent_change", "number_change"]
pop_df = pop_df.replace(',','', regex=True)
pop_df.population = pop_df.population.str.strip()
pop_df.head()

    county  year population  percent_change number_change
0  Alameda  2015    1630159            1.34         21545
1  Alameda  2016    1647332            1.05         17173
2  Alameda  2017    1659750            0.75         12418
3  Alameda  2018    1669659            0.60          9909
4  Alameda  2019    1678926            0.56          9267

In [5]:
# Drop NaNs and change dtypes
pop_df = pop_df.dropna()
pop_df = pop_df.astype({"year": "int"})
pop_df.population = pop_df.population.astype("float").astype("int")
pop_df.dtypes

county             object
year                int32
population          int32
percent_change    float64
number_change      object
dtype: object

In [6]:
# Create sample dataframe and save as csv
pop_df.to_csv("pop_db.csv", index=False)