In [23]:
import pandas as pd
import numpy as np

In [24]:
#Import incentives dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/incentives_db.csv"
incentives_df = pd.read_csv(file_path)
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,7/1/2021,1/1/2023
1,Alameda,Grant,Any,9500,1,1,1,1,3/1/2019,1/1/2023
2,Alameda,Grant,Any,5000,1,1,0,1,6/1/2018,1/1/2023
3,Alameda,Toll discount,CAV,7,1,0,0,0,1/1/2019,1/1/2023
4,Alameda,Rebate,EV Charger,800,1,0,1,1,7/1/2018,1/1/2023

In [25]:
# Convert to datetime
incentives_df["start_date"] = pd.DatetimeIndex(pd.to_datetime(incentives_df["start_date"])).year
incentives_df["end_date"] = pd.DatetimeIndex(pd.to_datetime(incentives_df["end_date"])).year
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,2021,2023
1,Alameda,Grant,Any,9500,1,1,1,1,2019,2023
2,Alameda,Grant,Any,5000,1,1,0,1,2018,2023
3,Alameda,Toll discount,CAV,7,1,0,0,0,2019,2023
4,Alameda,Rebate,EV Charger,800,1,0,1,1,2018,2023

In [27]:
# Import sales_pop dataset, add in needed columns
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/sales_pop.csv"
sales_pop = pd.read_csv(file_path)
sales_pop["county_count"] = 0
sales_pop["state_count"] = 0
sales_pop["county_max_nc"] = 0
sales_pop["county_max_c"] = 0
sales_pop["state_max"] = 0
sales_pop.head()

,county,year,number_sales,sales_percentage,population,pop_percentage,county_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,0,0,0,0
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,0,0,0,0
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,0,0,0,0
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,0,0,0,0,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,0,0,0,0,0

In [28]:
# for loop iterating for years 2015-2022, count incentives per county
# (columns: county, year, incentive_count)
def county_year_incentives(county):
    chosen_county = incentives_df.loc[incentives_df["county"] == county]
    for year in range(2015,2023):
        incentive_count = 0
        for index, row in chosen_county.iterrows():
            if row["start_date"] <= year and row["end_date"] >= year:
                incentive_count = incentive_count + 1
                sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["county_count"]] = incentive_count

In [29]:
print(incentives_df["county"].unique())

['Alameda' 'All' 'Contra Costa' 'El Dorado' 'Fresno' 'Imperial' 'Inyo'
 'Kern' 'Kings' 'Lassen' 'Los Angeles' 'Madera' 'Marin' 'Mendocino'
 'Merced' 'Mono' 'Napa' 'Nevada' 'Orange' 'Placer' 'Plumas' 'Riverside'
 'Sacramento' 'San Bernardino' 'San Francisco' 'San Joaquin' 'San Mateo'
 'Santa Clara' 'Santa Cruz' 'Shasta' 'Sierra' 'Solano' 'Sonoma'
 'Stanislaus' 'Trinity' 'Tulare' 'Ventura' 'Washoe' 'Yolo']

In [30]:
# Run incentive count function for all counties
county_year_incentives("Alameda")
county_year_incentives('Contra Costa')
county_year_incentives('El Dorado')
county_year_incentives('Fresno')
county_year_incentives('Imperial')
county_year_incentives('Inyo')
county_year_incentives('Kern')
county_year_incentives('Kings')
county_year_incentives('Lassen')
county_year_incentives('Los Angeles')
county_year_incentives('Madera')
county_year_incentives('Marin')
county_year_incentives('Mendocino')
county_year_incentives('Merced')
county_year_incentives('Mono')
county_year_incentives('Napa')
county_year_incentives('Nevada')
county_year_incentives('Orange')
county_year_incentives('Placer')
county_year_incentives('Plumas')
county_year_incentives('Riverside')
county_year_incentives('Sacramento')
county_year_incentives('San Bernardino')
county_year_incentives('San Francisco')
county_year_incentives('San Joaquin')
county_year_incentives('San Mateo')
county_year_incentives('Santa Clara')
county_year_incentives('Santa Cruz')
county_year_incentives('Shasta')
county_year_incentives('Sierra')
county_year_incentives('Solano')
county_year_incentives('Sonoma')
county_year_incentives('Stanislaus')
county_year_incentives('Trinity')
county_year_incentives('Tulare')
county_year_incentives('Ventura')
county_year_incentives('Washoe')
county_year_incentives('Yolo')
sales_pop

,county,year,number_sales,sales_percentage,population,pop_percentage,county_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,0,0,0,0
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,0,0,0,0
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,0,0,0,0
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,2,0,0,0,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
459,Yuba,2018.0,41.0,0.03,79043,0.20,0,0,0,0,0
460,Yuba,2019.0,59.0,0.04,80250,0.20,0,0,0,0,0
461,Yuba,2020.0,63.0,0.04,81468,0.21,0,0,0,0,0
462,Yuba,2021.0,125.0,0.05,82091,0.21,0,0,0,0,0
463,Yuba,2022.0,95.0,0.06,81575,0.21,0,0,0,0,0

In [31]:
sales_pop.dtypes

county               object
year                float64
number_sales        float64
sales_percentage    float64
population            int64
pop_percentage      float64
county_count          int64
state_count           int64
county_max_nc         int64
county_max_c          int64
state_max             int64
dtype: object

In [32]:
# for loop for state wide incentives, add count to each county for relevant years
def statewide_incentives(county):
    statewide = incentives_df.loc[incentives_df["county"] == "All"]
    for year in range(2015,2023):
        statewide_count = 0
        for index, row in statewide.iterrows():
            if row["start_date"] <= year and row["end_date"] >= year:
                statewide_count = statewide_count + 1
                sales_pop.loc[(sales_pop["year"] == year),["state_count"]] = statewide_count

In [33]:
# Run statewide_incentives for 2015-2023
statewide_incentives("All")
sales_pop.iloc[48:100]

,county,year,number_sales,sales_percentage,population,pop_percentage,county_count,state_count,county_max_nc,county_max_c,state_max
48,Contra Costa,2015.0,2609.0,4.08,1128317,2.90,1,6,0,0,0
49,Contra Costa,2016.0,2599.0,3.59,1141566,2.92,1,6,0,0,0
50,Contra Costa,2017.0,3475.0,3.75,1149457,2.92,1,6,0,0,0
51,Contra Costa,2018.0,6420.0,4.15,1158017,2.93,1,6,0,0,0
52,Contra Costa,2019.0,5720.0,3.91,1162287,2.94,3,6,0,0,0
53,Contra Costa,2020.0,5672.0,3.94,1166669,2.95,3,9,0,0,0
54,Contra Costa,2021.0,9583.0,3.87,1163765,2.96,3,9,0,0,0
55,Contra Costa,2022.0,5596.0,3.52,1165927,2.95,3,7,0,0,0
56,Del Norte,2015.0,6.0,0.01,27113,0.07,0,6,0,0,0
57,Del Norte,2016.0,2.0,0.00,27070,0.07,0,6,0,0,0
58,Del Norte,2017.0,9.0,0.01,26898,0.07,0,6,0,0,0
59,Del Norte,2018.0,13.0,0.01,27572,0.07,0,6,0,0,0
60,Del Norte,2019.0,16.0,0.01,27604,0.07,0,6,0,0,0
61,Del Norte,2020.0,11.0,0.01,27745,0.07,0,9,0,0,0
62,Del Norte,2021.0,13.0,0.01,27529,0.07,0,9,0,0,0
63,Del Norte,2022.0,8.0,0.01,27743,0.07,0,7,0,0,0
64,El Dorado,2015.0,214.0,0.33,182205,0.47,0,6,0,0,0
65,El Dorado,2016.0,198.0,0.27,182937,0.47,0,6,0,0,0
66,El Dorado,2017.0,316.0,0.34,184800,0.47,0,6,0,0,0
67,El Dorado,2018.0,584.0,0.38,187122,0.47,0,6,0,0,0
68,El Dorado,2019.0,547.0,0.37,187905,0.48,0,6,0,0,0
69,El Dorado,2020.0,598.0,0.42,191282,0.48,1,9,0,0,0
70,El Dorado,2021.0,937.0,0.38,191992,0.49,1,9,0,0,0
71,El Dorado,2022.0,631.0,0.40,191185,0.48,1,7,0,0,0
72,Fresno,2015.0,541.0,0.85,970859,2.49,0,6,0,0,0
73,Fresno,2016.0,788.0,1.09,977361,2.50,0,6,0,0,0
74,Fresno,2017.0,1058.0,1.14,985393,2.51,0,6,0,0,0
75,Fresno,2018.0,1107.0,0.71,993965,2.52,0,6,0,0,0
76,Fresno,2019.0,1130.0,0.77,1001640,2.53,6,6,0,0,0
77,Fresno,2020.0,1172.0,0.82,1008860,2.55,6,9,0,0,0
78,Fresno,2021.0,2364.0,0.96,1013744,2.58,6,9,0,0,0
79,Fresno,2022.0,1616.0,1.02,1008654,2.55,6,7,0,0,0
80,Glenn,2015.0,6.0,0.01,28001,0.07,0,6,0,0,0
81,Glenn,2016.0,7.0,0.01,28005,0.07,0,6,0,0,0
82,Glenn,2017.0,4.0,0.00,28072,0.07,0,6,0,0,0
83,Glenn,2018.0,10.0,0.01,28134,0.07,0,6,0,0,0
84,Glenn,2019.0,11.0,0.01,28525,0.07,0,6,0,0,0
85,Glenn,2020.0,20.0,0.01,28822,0.07,0,9,0,0,0
86,Glenn,2021.0,27.0,0.01,29007,0.07,0,9,0,0,0
87,Glenn,2022.0,15.0,0.01,28917,0.07,0,7,0,0,0
88,Humboldt,2015.0,136.0,0.21,136348,0.35,0,6,0,0,0
89,Humboldt,2016.0,94.0,0.13,137346,0.35,0,6,0,0,0
90,Humboldt,2017.0,125.0,0.13,137492,0.35,0,6,0,0,0
91,Humboldt,2018.0,157.0,0.10,137493,0.35,0,6,0,0,0
92,Humboldt,2019.0,143.0,0.10,136740,0.35,0,6,0,0,0
93,Humboldt,2020.0,128.0,0.09,136514,0.35,0,9,0,0,0
94,Humboldt,2021.0,252.0,0.10,135467,0.34,0,9,0,0,0
95,Humboldt,2022.0,142.0,0.09,136463,0.35,0,7,0,0,0
96,Imperial,2015.0,15.0,0.02,179952,0.46,0,6,0,0,0
97,Imperial,2016.0,16.0,0.02,180280,0.46,0,6,0,0,0
98,Imperial,2017.0,31.0,0.03,180627,0.46,0,6,0,0,0
99,Imperial,2018.0,49.0,0.03,180627,0.46,0,6,0,0,0

In [34]:
# for loop iterating through max_amount, add non-customer incentives and max customer incentive
# (columns: county, year, incentive_count, max_amount)
def county_year_max(county):
    chosen_county = incentives_df.loc[incentives_df["county"] == county]
    for year in range(2015,2023):
        # sub-dataframe for year based on chosen_county
        chosen_year = chosen_county.loc[(chosen_county["start_date"] <= year) & (chosen_county["end_date"] >= year)]
        
        # Max EV Charger incentive
        charger_max = chosen_year[(chosen_year["ev_type"]=="EV Charger")]["max_amount"].max()
        if np.isnan(charger_max):
            charger_max = 0
        
        # Non-customer incentives summed with EV Charger        
        non_customer_max = chosen_year[(chosen_year["ev_type"]!="EV Charger") & (chosen_year["customer"]==0)]["max_amount"].sum()
        sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["county_max_nc"]] = non_customer_max + charger_max
                
        # Max customer incentive
        customer_max = chosen_year[(chosen_year["ev_type"]!="EV Charger") & (chosen_year["customer"]==1)]["max_amount"].max()
        if np.isnan(customer_max):
            customer_max = 0
        sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["county_max_c"]] = customer_max

In [35]:
# Run county_year_max for all counties
county_year_max("Alameda")
county_year_max('Contra Costa')
county_year_max('El Dorado')
county_year_max('Fresno')
county_year_max('Imperial')
county_year_max('Inyo')
county_year_max('Kern')
county_year_max('Kings')
county_year_max('Lassen')
county_year_max('Los Angeles')
county_year_max('Madera')
county_year_max('Marin')
county_year_max('Mendocino')
county_year_max('Merced')
county_year_max('Mono')
county_year_max('Napa')
county_year_max('Nevada')
county_year_max('Orange')
county_year_max('Placer')
county_year_max('Plumas')
county_year_max('Riverside')
county_year_max('Sacramento')
county_year_max('San Bernardino')
county_year_max('San Francisco')
county_year_max('San Joaquin')
county_year_max('San Mateo')
county_year_max('Santa Clara')
county_year_max('Santa Cruz')
county_year_max('Shasta')
county_year_max('Sierra')
county_year_max('Solano')
county_year_max('Sonoma')
county_year_max('Stanislaus')
county_year_max('Trinity')
county_year_max('Tulare')
county_year_max('Ventura')
county_year_max('Washoe')
county_year_max('Yolo')
sales_pop.head(50)

,county,year,number_sales,sales_percentage,population,pop_percentage,county_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,6,0,0,0
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,6,0,0,0
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,6,0,0,0
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,2,6,5800,0,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,4,6,5807,9500,0
5,Alameda,2020.0,9978.0,6.94,1681700,4.25,4,9,5807,9500,0
6,Alameda,2021.0,15264.0,6.17,1671741,4.25,6,9,5807,9500,0
7,Alameda,2022.0,9292.0,5.85,1682353,4.26,6,7,5807,9500,0
8,NaN,NaN,NaN,NaN,1201,0.00,0,0,0,0,0
9,NaN,NaN,NaN,NaN,1207,0.00,0,0,0,0,0
10,Alpine,2017.0,1.0,0.00,1211,0.00,0,6,0,0,0
11,Alpine,2018.0,1.0,0.00,1208,0.00,0,6,0,0,0
12,Alpine,2019.0,3.0,0.00,1205,0.00,0,6,0,0,0
13,Alpine,2020.0,2.0,0.00,1199,0.00,0,9,0,0,0
14,Alpine,2021.0,11.0,0.00,1181,0.00,0,9,0,0,0
15,Alpine,2022.0,3.0,0.00,1204,0.00,0,7,0,0,0
16,Amador,2015.0,15.0,0.02,36905,0.09,0,6,0,0,0
17,Amador,2016.0,14.0,0.02,37929,0.10,0,6,0,0,0
18,Amador,2017.0,21.0,0.02,38549,0.10,0,6,0,0,0
19,Amador,2018.0,35.0,0.02,40038,0.10,0,6,0,0,0
20,Amador,2019.0,31.0,0.02,40279,0.10,0,6,0,0,0
21,Amador,2020.0,35.0,0.02,40506,0.10,0,9,0,0,0
22,Amador,2021.0,65.0,0.03,40316,0.10,0,9,0,0,0
23,Amador,2022.0,45.0,0.03,40474,0.10,0,7,0,0,0
24,Butte,2015.0,50.0,0.08,229359,0.59,0,6,0,0,0
25,Butte,2016.0,50.0,0.07,230681,0.59,0,6,0,0,0
26,Butte,2017.0,88.0,0.09,233080,0.59,0,6,0,0,0
27,Butte,2018.0,183.0,0.12,234627,0.59,0,6,0,0,0
28,Butte,2019.0,170.0,0.12,226714,0.57,0,6,0,0,0
29,Butte,2020.0,209.0,0.15,211216,0.53,0,9,0,0,0
30,Butte,2021.0,348.0,0.14,201158,0.51,0,9,0,0,0
31,Butte,2022.0,207.0,0.13,211632,0.54,0,7,0,0,0
32,Calaveras,2015.0,16.0,0.03,45414,0.12,0,6,0,0,0
33,Calaveras,2016.0,19.0,0.03,45365,0.12,0,6,0,0,0
34,Calaveras,2017.0,24.0,0.03,45354,0.12,0,6,0,0,0
35,Calaveras,2018.0,50.0,0.03,45365,0.11,0,6,0,0,0
36,Calaveras,2019.0,45.0,0.03,45285,0.11,0,6,0,0,0
37,Calaveras,2020.0,54.0,0.04,45277,0.11,0,9,0,0,0
38,Calaveras,2021.0,92.0,0.04,45111,0.11,0,9,0,0,0
39,Calaveras,2022.0,82.0,0.05,45292,0.11,0,7,0,0,0
40,Colusa,2015.0,3.0,0.00,21455,0.06,0,6,0,0,0
41,Colusa,2016.0,2.0,0.00,21677,0.06,0,6,0,0,0
42,Colusa,2017.0,3.0,0.00,21792,0.06,0,6,0,0,0
43,Colusa,2018.0,8.0,0.01,21690,0.05,0,6,0,0,0
44,Colusa,2019.0,3.0,0.00,21745,0.06,0,6,0,0,0
45,Colusa,2020.0,5.0,0.00,21826,0.06,0,9,0,0,0
46,Colusa,2021.0,18.0,0.01,22059,0.06,0,9,0,0,0
47,Colusa,2022.0,14.0,0.01,21839,0.06,0,7,0,0,0
48,Contra Costa,2015.0,2609.0,4.08,1128317,2.90,1,6,5000,0,0
49,Contra Costa,2016.0,2599.0,3.59,1141566,2.92,1,6,5000,0,0

In [36]:
# For loop CA wide incentive max_amount
def CA_max(county):
    statewide = incentives_df.loc[incentives_df["county"] == "All"]
    for year in range(2015,2023):
        # sub-dataframe for year based on statewide
        chosen_year = statewide.loc[(statewide["start_date"] <= year) & (statewide["end_date"] >= year)]
        
        # Non-customer incentives summed with EV Charger        
        state_max = chosen_year["max_amount"].sum()
        sales_pop.loc[(sales_pop["year"] == year),["state_max"]] = state_max

In [37]:
# Run CA_max for 2015-2023
CA_max("All")
sales_pop.iloc[48:100]

,county,year,number_sales,sales_percentage,population,pop_percentage,county_count,state_count,county_max_nc,county_max_c,state_max
48,Contra Costa,2015.0,2609.0,4.08,1128317,2.90,1,6,5000,0,25500
49,Contra Costa,2016.0,2599.0,3.59,1141566,2.92,1,6,5000,0,25500
50,Contra Costa,2017.0,3475.0,3.75,1149457,2.92,1,6,5000,0,25500
51,Contra Costa,2018.0,6420.0,4.15,1158017,2.93,1,6,5000,0,25500
52,Contra Costa,2019.0,5720.0,3.91,1162287,2.94,3,6,5007,9500,25500
53,Contra Costa,2020.0,5672.0,3.94,1166669,2.95,3,9,5007,9500,27000
54,Contra Costa,2021.0,9583.0,3.87,1163765,2.96,3,9,5007,9500,27000
55,Contra Costa,2022.0,5596.0,3.52,1165927,2.95,3,7,5007,9500,11500
56,Del Norte,2015.0,6.0,0.01,27113,0.07,0,6,0,0,25500
57,Del Norte,2016.0,2.0,0.00,27070,0.07,0,6,0,0,25500
58,Del Norte,2017.0,9.0,0.01,26898,0.07,0,6,0,0,25500
59,Del Norte,2018.0,13.0,0.01,27572,0.07,0,6,0,0,25500
60,Del Norte,2019.0,16.0,0.01,27604,0.07,0,6,0,0,25500
61,Del Norte,2020.0,11.0,0.01,27745,0.07,0,9,0,0,27000
62,Del Norte,2021.0,13.0,0.01,27529,0.07,0,9,0,0,27000
63,Del Norte,2022.0,8.0,0.01,27743,0.07,0,7,0,0,11500
64,El Dorado,2015.0,214.0,0.33,182205,0.47,0,6,0,0,25500
65,El Dorado,2016.0,198.0,0.27,182937,0.47,0,6,0,0,25500
66,El Dorado,2017.0,316.0,0.34,184800,0.47,0,6,0,0,25500
67,El Dorado,2018.0,584.0,0.38,187122,0.47,0,6,0,0,25500
68,El Dorado,2019.0,547.0,0.37,187905,0.48,0,6,0,0,25500
69,El Dorado,2020.0,598.0,0.42,191282,0.48,1,9,0,599,27000
70,El Dorado,2021.0,937.0,0.38,191992,0.49,1,9,0,599,27000
71,El Dorado,2022.0,631.0,0.40,191185,0.48,1,7,0,599,11500
72,Fresno,2015.0,541.0,0.85,970859,2.49,0,6,0,0,25500
73,Fresno,2016.0,788.0,1.09,977361,2.50,0,6,0,0,25500
74,Fresno,2017.0,1058.0,1.14,985393,2.51,0,6,0,0,25500
75,Fresno,2018.0,1107.0,0.71,993965,2.52,0,6,0,0,25500
76,Fresno,2019.0,1130.0,0.77,1001640,2.53,6,6,0,9500,25500
77,Fresno,2020.0,1172.0,0.82,1008860,2.55,6,9,0,9500,27000
78,Fresno,2021.0,2364.0,0.96,1013744,2.58,6,9,0,9500,27000
79,Fresno,2022.0,1616.0,1.02,1008654,2.55,6,7,0,9500,11500
80,Glenn,2015.0,6.0,0.01,28001,0.07,0,6,0,0,25500
81,Glenn,2016.0,7.0,0.01,28005,0.07,0,6,0,0,25500
82,Glenn,2017.0,4.0,0.00,28072,0.07,0,6,0,0,25500
83,Glenn,2018.0,10.0,0.01,28134,0.07,0,6,0,0,25500
84,Glenn,2019.0,11.0,0.01,28525,0.07,0,6,0,0,25500
85,Glenn,2020.0,20.0,0.01,28822,0.07,0,9,0,0,27000
86,Glenn,2021.0,27.0,0.01,29007,0.07,0,9,0,0,27000
87,Glenn,2022.0,15.0,0.01,28917,0.07,0,7,0,0,11500
88,Humboldt,2015.0,136.0,0.21,136348,0.35,0,6,0,0,25500
89,Humboldt,2016.0,94.0,0.13,137346,0.35,0,6,0,0,25500
90,Humboldt,2017.0,125.0,0.13,137492,0.35,0,6,0,0,25500
91,Humboldt,2018.0,157.0,0.10,137493,0.35,0,6,0,0,25500
92,Humboldt,2019.0,143.0,0.10,136740,0.35,0,6,0,0,25500
93,Humboldt,2020.0,128.0,0.09,136514,0.35,0,9,0,0,27000
94,Humboldt,2021.0,252.0,0.10,135467,0.34,0,9,0,0,27000
95,Humboldt,2022.0,142.0,0.09,136463,0.35,0,7,0,0,11500
96,Imperial,2015.0,15.0,0.02,179952,0.46,0,6,0,0,25500
97,Imperial,2016.0,16.0,0.02,180280,0.46,0,6,0,0,25500
98,Imperial,2017.0,31.0,0.03,180627,0.46,0,6,0,0,25500
99,Imperial,2018.0,49.0,0.03,180627,0.46,0,6,0,0,25500

In [38]:
# Add total_incentives, county_max, total_max columns. Drop county_max_nc and county_max_c
sales_pop.insert(8, "total_incentives", (sales_pop["county_count"] + sales_pop["state_count"]))
sales_pop.insert(11, "county_max", (sales_pop["county_max_nc"] + sales_pop["county_max_c"]))
sales_pop.insert(13, "total_max", (sales_pop["county_max"] + sales_pop["state_max"]))
sales_pop = sales_pop.drop(columns=["county_max_nc", "county_max_c"])

In [39]:
# Drop NaNs, change dtypes and column names
sales_pop = sales_pop.sort_values(by=["county", "year"], axis=0, ascending=True).reset_index(level=None, drop=True, inplace=False).dropna()
sales_pop = sales_pop.astype({"year": "int", "number_sales": "int"})
sales_pop.head()

,county,year,number_sales,sales_percentage,population,pop_percentage,county_count,state_count,total_incentives,county_max,state_max,total_max
0,Alameda,2015,5536,8.65,1630159,4.19,0,6,6,0,25500,25500
1,Alameda,2016,5327,7.35,1647332,4.21,0,6,6,0,25500,25500
2,Alameda,2017,7056,7.61,1659750,4.22,0,6,6,0,25500,25500
3,Alameda,2018,12578,8.12,1669659,4.23,2,6,8,5800,25500,31300
4,Alameda,2019,11781,8.05,1678926,4.25,4,6,10,15307,25500,40807

In [40]:
# Save sales_pop as county_year_merged
sales_pop.to_csv("county_year_merged.csv", index=False)

In [41]:
# Import avg_demo_db.csv
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/avg_demo_db.csv"
avg_demo = pd.read_csv(file_path)
avg_demo.head()

,year,previous_evs,household_income,importance_of_gge,homeowner,education,commute_distance,age,gender,number_of_vehicles,annual_miles
0,2015,1,204219.01,1.57,0.89,3.32,18.52,50.99,0.27,2.55,13170.26
1,2016,1,216141.50,1.61,0.85,3.34,18.83,49.27,0.25,2.41,12477.10
2,2017,1,185496.29,1.75,0.80,3.37,18.76,48.95,0.27,2.31,13239.44

In [42]:
# Merge avg_demo on year to sales_pop as merged_demo, sort by county/year
merged_demo = pd.merge(sales_pop, avg_demo, on=["year"]).sort_values(by=["county", "year"], axis=0, ascending=True).reset_index(level=None, drop=True, inplace=False).dropna()
merged_demo

,county,year,number_sales,sales_percentage,population,pop_percentage,county_count,state_count,total_incentives,county_max,...,previous_evs,household_income,importance_of_gge,homeowner,education,commute_distance,age,gender,number_of_vehicles,annual_miles
0,Alameda,2015,5536,8.65,1630159,4.19,0,6,6,0,...,1,204219.01,1.57,0.89,3.32,18.52,50.99,0.27,2.55,13170.26
1,Alameda,2016,5327,7.35,1647332,4.21,0,6,6,0,...,1,216141.50,1.61,0.85,3.34,18.83,49.27,0.25,2.41,12477.10
2,Alameda,2017,7056,7.61,1659750,4.22,0,6,6,0,...,1,185496.29,1.75,0.80,3.37,18.76,48.95,0.27,2.31,13239.44
3,Alpine,2017,1,0.00,1211,0.00,0,6,6,0,...,1,185496.29,1.75,0.80,3.37,18.76,48.95,0.27,2.31,13239.44
4,Amador,2015,15,0.02,36905,0.09,0,6,6,0,...,1,204219.01,1.57,0.89,3.32,18.52,50.99,0.27,2.55,13170.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Yolo,2016,225,0.31,55162,0.14,1,6,7,5000,...,1,216141.50,1.61,0.85,3.34,18.83,49.27,0.25,2.41,12477.10
164,Yolo,2017,331,0.36,55032,0.14,1,6,7,5000,...,1,185496.29,1.75,0.80,3.37,18.76,48.95,0.27,2.31,13239.44
165,Yuba,2015,13,0.02,75748,0.19,0,6,6,0,...,1,204219.01,1.57,0.89,3.32,18.52,50.99,0.27,2.55,13170.26
166,Yuba,2016,15,0.02,76782,0.20,0,6,6,0,...,1,216141.50,1.61,0.85,3.34,18.83,49.27,0.25,2.41,12477.10
167,Yuba,2017,21,0.02,78181,0.20,0,6,6,0,...,1,185496.29,1.75,0.80,3.37,18.76,48.95,0.27,2.31,13239.44

In [43]:
# Save merged_demo as CSV
merged_demo.to_csv("merged_demo.csv", index=False)

In [44]:
# Import both dfs to SQL tables, replace to update changes
from sqlalchemy import create_engine
from config import password
conn_string = f"postgresql://postgres:{password}@database-1.cwi16qf0z3wk.ap-southeast-1.rds.amazonaws.com:5432/california_ev_analysis"
engine = create_engine(conn_string)
sales_pop.to_sql(name="county_year_merged", con=engine, if_exists="replace")
merged_demo.to_sql(name="merged_demo", con=engine, if_exists="replace")