In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import incentives dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/incentives_db.csv"
incentives_df = pd.read_csv(file_path)
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,7/1/2021,1/1/2023
1,Alameda,Grant,Any,9500,1,1,1,1,3/1/2019,1/1/2023
2,Alameda,Grant,Any,5000,1,1,0,1,6/1/2018,1/1/2023
3,Alameda,Toll discount,CAV,7,1,0,0,0,1/1/2019,1/1/2023
4,Alameda,Rebate,EV Charger,800,1,0,1,1,7/1/2018,1/1/2023

In [3]:
# Convert to datetime
incentives_df["start_date"] = pd.DatetimeIndex(pd.to_datetime(incentives_df["start_date"])).year
incentives_df["end_date"] = pd.DatetimeIndex(pd.to_datetime(incentives_df["end_date"])).year
incentives_df.head()

,county,incentive_type,ev_type,max_amount,requirements,low_income,customer,one_time,start_date,end_date
0,Alameda,Rebate,BEV,2000,1,0,1,1,2021,2023
1,Alameda,Grant,Any,9500,1,1,1,1,2019,2023
2,Alameda,Grant,Any,5000,1,1,0,1,2018,2023
3,Alameda,Toll discount,CAV,7,1,0,0,0,2019,2023
4,Alameda,Rebate,EV Charger,800,1,0,1,1,2018,2023

In [4]:
# Import sales_pop dataset, add in needed columns
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Database/sales_pop.csv"
sales_pop = pd.read_csv(file_path)
sales_pop["incentive_count"] = 0
sales_pop["state_count"] = 0
sales_pop["county_max_nc"] = 0
sales_pop["county_max_c"] = 0
sales_pop["state_max"] = 0
sales_pop.head()

,county,year,number_sales,sales_percentage,population,pop_percentage,incentive_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,0,0,0,0
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,0,0,0,0
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,0,0,0,0
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,0,0,0,0,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,0,0,0,0,0

In [5]:
# for loop iterating for years 2015-2022, count incentives per county
# (columns: county, year, incentive_count)
def county_year_incentives(county):
    chosen_county = incentives_df.loc[incentives_df["county"] == county]
    for year in range(2015,2023):
        incentive_count = 0
        for index, row in chosen_county.iterrows():
            if row["start_date"] <= year and row["end_date"] >= year:
                incentive_count = incentive_count + 1
                sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["incentive_count"]] = incentive_count

In [6]:
print(incentives_df["county"].unique())

['Alameda' 'All' 'Contra Costa' 'El Dorado' 'Fresno' 'Imperial' 'Inyo'
 'Kern' 'Kings' 'Lassen' 'Los Angeles' 'Madera' 'Marin' 'Mendocino'
 'Merced' 'Mono' 'Napa' 'Nevada' 'Orange' 'Placer' 'Plumas' 'Riverside'
 'Sacramento' 'San Bernardino' 'San Francisco' 'San Joaquin' 'San Mateo'
 'Santa Clara' 'Santa Cruz' 'Shasta' 'Sierra' 'Solano' 'Sonoma'
 'Stanislaus' 'Trinity' 'Tulare' 'Ventura' 'Washoe' 'Yolo']

In [7]:
# Sales have missing county/year data -- dropna or add in as 0?

In [8]:
# Run incentive count function for all counties
county_year_incentives("Alameda")
county_year_incentives('Contra Costa')
county_year_incentives('El Dorado')
county_year_incentives('Fresno')
county_year_incentives('Imperial')
county_year_incentives('Inyo')
county_year_incentives('Kern')
county_year_incentives('Kings')
county_year_incentives('Lassen')
county_year_incentives('Los Angeles')
county_year_incentives('Madera')
county_year_incentives('Marin')
county_year_incentives('Mendocino')
county_year_incentives('Merced')
county_year_incentives('Mono')
county_year_incentives('Napa')
county_year_incentives('Nevada')
county_year_incentives('Orange')
county_year_incentives('Placer')
county_year_incentives('Plumas')
county_year_incentives('Riverside')
county_year_incentives('Sacramento')
county_year_incentives('San Bernardino')
county_year_incentives('San Francisco')
county_year_incentives('San Joaquin')
county_year_incentives('San Mateo')
county_year_incentives('Santa Clara')
county_year_incentives('Santa Cruz')
county_year_incentives('Shasta')
county_year_incentives('Sierra')
county_year_incentives('Solano')
county_year_incentives('Sonoma')
county_year_incentives('Stanislaus')
county_year_incentives('Trinity')
county_year_incentives('Tulare')
county_year_incentives('Ventura')
county_year_incentives('Washoe')
county_year_incentives('Yolo')
sales_pop

,county,year,number_sales,sales_percentage,population,pop_percentage,incentive_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,0,0,0,0
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,0,0,0,0
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,0,0,0,0
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,2,0,0,0,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
459,Yuba,2018.0,41.0,0.03,79043,0.20,0,0,0,0,0
460,Yuba,2019.0,59.0,0.04,80250,0.20,0,0,0,0,0
461,Yuba,2020.0,63.0,0.04,81468,0.21,0,0,0,0,0
462,Yuba,2021.0,125.0,0.05,82091,0.21,0,0,0,0,0
463,Yuba,2022.0,95.0,0.06,81575,0.21,0,0,0,0,0

In [9]:
sales_pop.dtypes

county               object
year                float64
number_sales        float64
sales_percentage    float64
population            int64
pop_percentage      float64
incentive_count       int64
state_count           int64
county_max_nc         int64
county_max_c          int64
state_max             int64
dtype: object

In [10]:
# for loop for state wide incentives, add count to each county for relevant years
def statewide_incentives(county):
    statewide = incentives_df.loc[incentives_df["county"] == "All"]
    for year in range(2015,2023):
        statewide_count = 0
        for index, row in statewide.iterrows():
            if row["start_date"] <= year and row["end_date"] >= year:
                statewide_count = statewide_count + 1
                sales_pop.loc[(sales_pop["year"] == year),["state_count"]] = statewide_count

In [11]:
# Run statewide_incentives for 2015-2023
statewide_incentives("All")
sales_pop.head(50)

,county,year,number_sales,sales_percentage,population,pop_percentage,incentive_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,6,0,0,0
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,6,0,0,0
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,6,0,0,0
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,2,6,0,0,0
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,4,6,0,0,0
5,Alameda,2020.0,9978.0,6.94,1681700,4.25,4,9,0,0,0
6,Alameda,2021.0,15264.0,6.17,1671741,4.25,6,9,0,0,0
7,Alameda,2022.0,9292.0,5.85,1682353,4.26,6,7,0,0,0
8,NaN,NaN,NaN,NaN,1201,0.00,0,0,0,0,0
9,NaN,NaN,NaN,NaN,1207,0.00,0,0,0,0,0
10,Alpine,2017.0,1.0,0.00,1211,0.00,0,6,0,0,0
11,Alpine,2018.0,1.0,0.00,1208,0.00,0,6,0,0,0
12,Alpine,2019.0,3.0,0.00,1205,0.00,0,6,0,0,0
13,Alpine,2020.0,2.0,0.00,1199,0.00,0,9,0,0,0
14,Alpine,2021.0,11.0,0.00,1181,0.00,0,9,0,0,0
15,Alpine,2022.0,3.0,0.00,1204,0.00,0,7,0,0,0
16,Amador,2015.0,15.0,0.02,36905,0.09,0,6,0,0,0
17,Amador,2016.0,14.0,0.02,37929,0.10,0,6,0,0,0
18,Amador,2017.0,21.0,0.02,38549,0.10,0,6,0,0,0
19,Amador,2018.0,35.0,0.02,40038,0.10,0,6,0,0,0
20,Amador,2019.0,31.0,0.02,40279,0.10,0,6,0,0,0
21,Amador,2020.0,35.0,0.02,40506,0.10,0,9,0,0,0
22,Amador,2021.0,65.0,0.03,40316,0.10,0,9,0,0,0
23,Amador,2022.0,45.0,0.03,40474,0.10,0,7,0,0,0
24,Butte,2015.0,50.0,0.08,229359,0.59,0,6,0,0,0
25,Butte,2016.0,50.0,0.07,230681,0.59,0,6,0,0,0
26,Butte,2017.0,88.0,0.09,233080,0.59,0,6,0,0,0
27,Butte,2018.0,183.0,0.12,234627,0.59,0,6,0,0,0
28,Butte,2019.0,170.0,0.12,226714,0.57,0,6,0,0,0
29,Butte,2020.0,209.0,0.15,211216,0.53,0,9,0,0,0
30,Butte,2021.0,348.0,0.14,201158,0.51,0,9,0,0,0
31,Butte,2022.0,207.0,0.13,211632,0.54,0,7,0,0,0
32,Calaveras,2015.0,16.0,0.03,45414,0.12,0,6,0,0,0
33,Calaveras,2016.0,19.0,0.03,45365,0.12,0,6,0,0,0
34,Calaveras,2017.0,24.0,0.03,45354,0.12,0,6,0,0,0
35,Calaveras,2018.0,50.0,0.03,45365,0.11,0,6,0,0,0
36,Calaveras,2019.0,45.0,0.03,45285,0.11,0,6,0,0,0
37,Calaveras,2020.0,54.0,0.04,45277,0.11,0,9,0,0,0
38,Calaveras,2021.0,92.0,0.04,45111,0.11,0,9,0,0,0
39,Calaveras,2022.0,82.0,0.05,45292,0.11,0,7,0,0,0
40,Colusa,2015.0,3.0,0.00,21455,0.06,0,6,0,0,0
41,Colusa,2016.0,2.0,0.00,21677,0.06,0,6,0,0,0
42,Colusa,2017.0,3.0,0.00,21792,0.06,0,6,0,0,0
43,Colusa,2018.0,8.0,0.01,21690,0.05,0,6,0,0,0
44,Colusa,2019.0,3.0,0.00,21745,0.06,0,6,0,0,0
45,Colusa,2020.0,5.0,0.00,21826,0.06,0,9,0,0,0
46,Colusa,2021.0,18.0,0.01,22059,0.06,0,9,0,0,0
47,Colusa,2022.0,14.0,0.01,21839,0.06,0,7,0,0,0
48,Contra Costa,2015.0,2609.0,4.08,1128317,2.90,1,6,0,0,0
49,Contra Costa,2016.0,2599.0,3.59,1141566,2.92,1,6,0,0,0

In [16]:
# for loop iterating through max_amount, add non-customer incentives and max customer incentive
# (columns: county, year, incentive_count, max_amount)
def county_year_max(county):
    chosen_county = incentives_df.loc[incentives_df["county"] == county]
    for year in range(2015,2023):
        non_customer_max = 0
        charger_max = 0
        customer_max = 0
        for index, row in chosen_county.iterrows():
            if row["start_date"] <= year and row["end_date"] >= year:
                charger_max = incentives_df[(incentives_df["ev_type"]=="EV Charger")]["max_amount"].max()
                if row["customer"] != 1:
                    non_customer_max = incentives_df[(incentives_df["ev_type"]!="EV Charger")]["max_amount"].sum()
                    sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["county_max_nc"]] = non_customer_max
                
                else:
                    customer_amt = incentives_df[(incentives_df["ev_type"]!="EV Charger")]["max_amount"].max()
                    sales_pop.loc[(sales_pop["county"] == county) & (sales_pop["year"] == year),["county_max_c"]] = customer_max

In [17]:
# Run county_year_max for all counties
county_year_max("Alameda")
county_year_max('Contra Costa')
county_year_max('El Dorado')
county_year_max('Fresno')
county_year_max('Imperial')
county_year_max('Inyo')
county_year_max('Kern')
county_year_max('Kings')
county_year_max('Lassen')
county_year_max('Los Angeles')
county_year_max('Madera')
county_year_max('Marin')
county_year_max('Mendocino')
county_year_max('Merced')
county_year_max('Mono')
county_year_max('Napa')
county_year_max('Nevada')
county_year_max('Orange')
county_year_max('Placer')
county_year_max('Plumas')
county_year_max('Riverside')
county_year_max('Sacramento')
county_year_max('San Bernardino')
county_year_max('San Francisco')
county_year_max('San Joaquin')
county_year_max('San Mateo')
county_year_max('Santa Clara')
county_year_max('Santa Cruz')
county_year_max('Shasta')
county_year_max('Sierra')
county_year_max('Solano')
county_year_max('Sonoma')
county_year_max('Stanislaus')
county_year_max('Trinity')
county_year_max('Tulare')
county_year_max('Ventura')
county_year_max('Washoe')
county_year_max('Yolo')
sales_pop

,county,year,number_sales,sales_percentage,population,pop_percentage,incentive_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,6,0,0,488040
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,6,0,0,488040
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,6,0,0,488040
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,2,6,469790,0,488040
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,4,6,469790,0,488040
...,...,...,...,...,...,...,...,...,...,...,...
459,Yuba,2018.0,41.0,0.03,79043,0.20,0,6,0,0,488040
460,Yuba,2019.0,59.0,0.04,80250,0.20,0,6,0,0,488040
461,Yuba,2020.0,63.0,0.04,81468,0.21,0,9,0,0,488040
462,Yuba,2021.0,125.0,0.05,82091,0.21,0,9,0,0,488040
463,Yuba,2022.0,95.0,0.06,81575,0.21,0,7,0,0,488040

In [18]:
# For loop CA wide incentive max_amount
def CA_max(county):
    statewide = incentives_df.loc[incentives_df["county"] == "All"]
    for year in range(2015,2023):
        state_max = 0
        for index, row in statewide.iterrows():
            state_max = incentives_df["max_amount"].sum()
            sales_pop.loc[(sales_pop["year"] == year),["state_max"]] = state_max

In [19]:
# Run CA_max for 2015-2023
CA_max("All")
sales_pop.head(50)

,county,year,number_sales,sales_percentage,population,pop_percentage,incentive_count,state_count,county_max_nc,county_max_c,state_max
0,Alameda,2015.0,5536.0,8.65,1630159,4.19,0,6,0,0,488040
1,Alameda,2016.0,5327.0,7.35,1647332,4.21,0,6,0,0,488040
2,Alameda,2017.0,7056.0,7.61,1659750,4.22,0,6,0,0,488040
3,Alameda,2018.0,12578.0,8.12,1669659,4.23,2,6,469790,0,488040
4,Alameda,2019.0,11781.0,8.05,1678926,4.25,4,6,469790,0,488040
5,Alameda,2020.0,9978.0,6.94,1681700,4.25,4,9,469790,0,488040
6,Alameda,2021.0,15264.0,6.17,1671741,4.25,6,9,469790,0,488040
7,Alameda,2022.0,9292.0,5.85,1682353,4.26,6,7,469790,0,488040
8,NaN,NaN,NaN,NaN,1201,0.00,0,0,0,0,0
9,NaN,NaN,NaN,NaN,1207,0.00,0,0,0,0,0
10,Alpine,2017.0,1.0,0.00,1211,0.00,0,6,0,0,488040
11,Alpine,2018.0,1.0,0.00,1208,0.00,0,6,0,0,488040
12,Alpine,2019.0,3.0,0.00,1205,0.00,0,6,0,0,488040
13,Alpine,2020.0,2.0,0.00,1199,0.00,0,9,0,0,488040
14,Alpine,2021.0,11.0,0.00,1181,0.00,0,9,0,0,488040
15,Alpine,2022.0,3.0,0.00,1204,0.00,0,7,0,0,488040
16,Amador,2015.0,15.0,0.02,36905,0.09,0,6,0,0,488040
17,Amador,2016.0,14.0,0.02,37929,0.10,0,6,0,0,488040
18,Amador,2017.0,21.0,0.02,38549,0.10,0,6,0,0,488040
19,Amador,2018.0,35.0,0.02,40038,0.10,0,6,0,0,488040
20,Amador,2019.0,31.0,0.02,40279,0.10,0,6,0,0,488040
21,Amador,2020.0,35.0,0.02,40506,0.10,0,9,0,0,488040
22,Amador,2021.0,65.0,0.03,40316,0.10,0,9,0,0,488040
23,Amador,2022.0,45.0,0.03,40474,0.10,0,7,0,0,488040
24,Butte,2015.0,50.0,0.08,229359,0.59,0,6,0,0,488040
25,Butte,2016.0,50.0,0.07,230681,0.59,0,6,0,0,488040
26,Butte,2017.0,88.0,0.09,233080,0.59,0,6,0,0,488040
27,Butte,2018.0,183.0,0.12,234627,0.59,0,6,0,0,488040
28,Butte,2019.0,170.0,0.12,226714,0.57,0,6,0,0,488040
29,Butte,2020.0,209.0,0.15,211216,0.53,0,9,0,0,488040
30,Butte,2021.0,348.0,0.14,201158,0.51,0,9,0,0,488040
31,Butte,2022.0,207.0,0.13,211632,0.54,0,7,0,0,488040
32,Calaveras,2015.0,16.0,0.03,45414,0.12,0,6,0,0,488040
33,Calaveras,2016.0,19.0,0.03,45365,0.12,0,6,0,0,488040
34,Calaveras,2017.0,24.0,0.03,45354,0.12,0,6,0,0,488040
35,Calaveras,2018.0,50.0,0.03,45365,0.11,0,6,0,0,488040
36,Calaveras,2019.0,45.0,0.03,45285,0.11,0,6,0,0,488040
37,Calaveras,2020.0,54.0,0.04,45277,0.11,0,9,0,0,488040
38,Calaveras,2021.0,92.0,0.04,45111,0.11,0,9,0,0,488040
39,Calaveras,2022.0,82.0,0.05,45292,0.11,0,7,0,0,488040
40,Colusa,2015.0,3.0,0.00,21455,0.06,0,6,0,0,488040
41,Colusa,2016.0,2.0,0.00,21677,0.06,0,6,0,0,488040
42,Colusa,2017.0,3.0,0.00,21792,0.06,0,6,0,0,488040
43,Colusa,2018.0,8.0,0.01,21690,0.05,0,6,0,0,488040
44,Colusa,2019.0,3.0,0.00,21745,0.06,0,6,0,0,488040
45,Colusa,2020.0,5.0,0.00,21826,0.06,0,9,0,0,488040
46,Colusa,2021.0,18.0,0.01,22059,0.06,0,9,0,0,488040
47,Colusa,2022.0,14.0,0.01,21839,0.06,0,7,0,0,488040
48,Contra Costa,2015.0,2609.0,4.08,1128317,2.90,1,6,469790,0,488040
49,Contra Costa,2016.0,2599.0,3.59,1141566,2.92,1,6,469790,0,488040

In [ ]:
# Drop NaNs