In [1]:
import pandas as pd

In [2]:
#Import demographics dataset
file_path = "C:/Users/VivoBook/Desktop/Classwork/capstoneproject-2022/Data/CA_pop_2015-2022.csv"
pop_df = pd.read_csv(file_path)
pop_df.head()

    County    Year Population  Percent Change Numeric Change    CA Total
0  Alameda  2015.0  1,630,159            1.34         21,545  38,913,507
1  Alameda  2016.0  1,647,332            1.05         17,173  39,127,855
2  Alameda  2017.0  1,659,750            0.75         12,418  39,328,926
3  Alameda  2018.0  1,669,659            0.60          9,909  39,476,064
4  Alameda  2019.0  1,678,926            0.56          9,267  39,529,566

In [3]:
# Rename columns and commas for database table
pop_df.columns = ["county", "year", "population", "percent_change", "number_change", "ca_total"]
pop_df = pop_df.replace(',','', regex=True)
pop_df.population = pop_df.population.str.strip()
pop_df.county = pop_df.county.str.strip()
pop_df.head()

    county    year population  percent_change number_change  ca_total
0  Alameda  2015.0    1630159            1.34         21545  38913507
1  Alameda  2016.0    1647332            1.05         17173  39127855
2  Alameda  2017.0    1659750            0.75         12418  39328926
3  Alameda  2018.0    1669659            0.60          9909  39476064
4  Alameda  2019.0    1678926            0.56          9267  39529566

In [4]:
print(pop_df["county"].unique())

['Alameda' nan 'Alpine' 'Amador' 'Butte' 'Calaveras' 'Colusa'
 'Contra Costa' 'Del Norte' 'El Dorado' 'Fresno' 'Glenn' 'Humboldt'
 'Imperial' 'Inyo' 'Kern' 'Kings' 'Lake' 'Lassen' 'Los Angeles' 'Madera'
 'Marin' 'Mariposa' 'Mendocino' 'Merced' 'Modoc' 'Mono' 'Monterey' 'Napa'
 'Nevada' 'Orange' 'Placer' 'Plumas' 'Riverside' 'Sacramento' 'San Benito'
 'San Bernardino' 'San Diego' 'San Francisco' 'San Joaquin'
 'San Luis Obispo' 'San Mateo' 'Santa Barbara' 'Santa Clara' 'Santa Cruz'
 'Shasta' 'Sierra' 'Siskiyou' 'Solano' 'Sonoma' 'Stanislaus' 'Sutter'
 'Tehama' 'Trinity' 'Tulare' 'Tuolumne' 'Ventura' 'Yolo' 'Yuba']

In [5]:
# Drop NaNs and change dtypes
pop_df = pop_df.dropna()
pop_df = pop_df.astype({"year": "int", "ca_total": "int"})
pop_df.population = pop_df.population.astype("float").astype("int")
pop_df.dtypes

county             object
year                int32
population          int32
percent_change    float64
number_change      object
ca_total            int32
dtype: object

In [6]:
# Add population percentage, drop ca_total
pop_df["pop_percentage"] = ((pop_df.population / pop_df.ca_total) * 100).round(2)
pop_df = pop_df.drop(columns="ca_total", axis=1)
pop_df

      county  year  population  percent_change number_change  pop_percentage
0    Alameda  2015     1630159            1.34         21545            4.19
1    Alameda  2016     1647332            1.05         17173            4.21
2    Alameda  2017     1659750            0.75         12418            4.22
3    Alameda  2018     1669659            0.60          9909            4.23
4    Alameda  2019     1678926            0.56          9267            4.25
..       ...   ...         ...             ...           ...             ...
467     Yuba  2018       79043            1.10           862            0.20
468     Yuba  2019       80250            1.53          1207            0.20
469     Yuba  2020       81468            1.52          1218            0.21
470     Yuba  2021       82091            0.76           623            0.21
471     Yuba  2022       81575           -0.01          -516            0.21

[464 rows x 6 columns]

In [8]:
# Create sample dataframe and save as csv
pop_df.to_csv("pop_db.csv", index=False)

In [9]:
# Import df to SQL table, replace to update changes
from sqlalchemy import create_engine
from config import password
conn_string = f"postgresql://postgres:{password}@database-1.cwi16qf0z3wk.ap-southeast-1.rds.amazonaws.com:5432/california_ev_analysis"
engine = create_engine(conn_string)
pop_df.to_sql(name="population", con=engine, if_exists="replace")